<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.PGVCL.Servelets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.PGVCL.Servelets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.PGVCL.Servelets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>com.PGVCL.Servelets.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRatesServlet</servlet-name>
        <servlet-class>com.PGVCL.Servelets.EditRatesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCustomer</servlet-name>
        <servlet-class>com.PGVCL.Servelets.EditCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomer</servlet-name>
        <servlet-class>com.PGVCL.Servelets.DeleteCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userFound</servlet-name>
        <servlet-class>com.PGVCL.Servelets.userFound</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>generateBill</servlet-name>
        <servlet-class>com.PGVCL.Servelets.generateBill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayBill</servlet-name>
        <servlet-class>com.PGVCL.Servelets.PayBill</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/EditProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRatesServlet</servlet-name>
        <url-pattern>/EditRatesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCustomer</servlet-name>
        <url-pattern>/EditCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomer</servlet-name>
        <url-pattern>/DeleteCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userFound</servlet-name>
        <url-pattern>/userFound</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>generateBill</servlet-name>
        <url-pattern>/generateBill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayBill</servlet-name>
        <url-pattern>/PayBill</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
